footer {
  width: 100%;
  height: fit-content;
  padding: 70px 0px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 0.3px solid rgb(150, 149, 149);
}

footer > div {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer > div > .left > p {
  font-size: 40px;
  font-weight: 800;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(34, 57, 207);
}

footer > div > .right {
  width: 100%;
  height: 100%;
  flex: 0.7;
  display: flex;
  justify-content: space-evenly;
}

footer > div > .right > .links {
  display: flex;
  flex-direction: column;
}

footer > div > .right > .links > a {
  margin: 10px 0px;
}

footer > div > .right > .details {
  width: 200px;
  font-weight: 200;
  padding: 20px;
  color: rgb(63, 63, 63);
}

@media screen and (max-width: 1000px) {
  footer > div {
    width: 90%;
    flex-direction: column;
    justify-content: space-evenly;
  }

  footer > div > .right {
    flex: 1;
  }

  footer > div > .right > .details {
    width: 200px;
    font-weight: 200;
    padding: 20px;
    color: rgb(63, 63, 63);
  }
}

@media screen and (max-width: 500px) {
  footer > div > .left > p {
    font-size: 30px;
  }

  footer > div > .right > .links > a {
    font-size: 17px;
    margin: 5px 0px;
  }

  footer > div > .right > .details {
    width: 150px;
    padding: 10px;
    font-size: 15px;
  }
}
